@import "tailwindcss";
@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.custom-scrollbar {
  -webkit-overflow-scrolling: touch;
}